.loading-wrapper {
  display: grid;
  place-items: center;
  inline-size: 100%;
  block-size: 100%;
}

.error {
  color: var(--noi-color-status-error-main);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-md);
  line-height: var(--noi-line-height-tight);
}

.stream-key-content-wrapper {
  display: grid;
  gap: var(--noi-spacing-4x);
}

.title {
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-md);
  line-height: var(--noi-line-height-tight);
  text-transform: uppercase;
}

.input-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-2x);
}

.button-container {
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: center;
  block-size: getRem(48);
}
