/* stylelint-disable declaration-property-value-allowed-list */
.section {
  color: var(--noi-color-gray-250);
  font-size: var(--font-size-xs);
  font-family: monospace;
  inline-size: getRem(320);
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-block-end: var(--noi-spacing-2x);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--font-size-s);
}

.list {
  @mixin list-style-none;
  margin: var(--noi-spacing-2x) 0;
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-1x);
  justify-content: space-between;
}

.list-item {
  padding: var(--noi-spacing-half) 0;
}

.list-item-value {
  color: var(--white);
}

.button {
  display: inline-block;
  padding: 0;
  color: var(--noi-color-violet-main);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--font-size-xs);
  font-family: monospace;
  background: none;
  cursor: pointer;

  &.header-button {
    margin-inline-start: var(--noi-spacing-2x);
  }
}

button.copy-clipboard-button {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: getRem(8);
  block-size: getRem(32);
  margin-block-start: var(--noi-spacing-2x);
}

.link {
  text-decoration-color: var(--noi-color-violet-main);
  color: var(--noi-color-gray-250);

  &:hover {
    color: var(--noi-color-violet-main);
  }
}
