@layer noice.ui {
  .tabs-wrapper {
    --_tabs-list-block-size: getRem(48);

    position: relative;
    display: grid;
    grid-template-areas: 'prev items next';
    grid-template-columns: min-content auto min-content;
    gap: var(--noi-spacing-2x);
    align-items: center;
    overflow: clip;
    max-inline-size: 100%;
    container: tabs-list / inline-size;

    .next,
    .prev {
      display: none;
      align-self: center;
    }

    .prev {
      grid-area: prev;
    }

    .next {
      grid-area: next;
    }

    @media (hover: hover) and (min-width: getRem(791)) {
      .next,
      .prev {
        display: block;
      }
    }
  }

  .tab-list-container {
    @mixin no-scroll-bar;

    display: flex;
    flex-wrap: nowrap;
    grid-area: items;
    gap: var(--noi-spacing-2x);
    align-items: start;
    justify-content: start;
    padding: var(--noi-spacing-1x) 0;
    overflow-x: auto;
    max-inline-size: 100%;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;

    .page & {
      display: flex;
      flex-wrap: nowrap;
      gap: var(--noi-spacing-2x);
      justify-content: start;
      inline-size: 100%;
      max-inline-size: 100%;
      min-block-size: var(--_tabs-list-block-size);
      border-block-end: 1px solid var(--noi-color-light-main-transparent-10);
    }

    .panel & {
      --_tabs-list-tab-block-size: calc(var(--_tabs-list-block-size) - getRem(8));

      display: flex;
      flex-wrap: nowrap;
      gap: var(--noi-spacing-1x);
      align-items: center;
      padding: var(--noi-spacing-1x);
      background: var(--noi-color-gray-900);
      border-radius: var(--noi-border-radius-pill);
      inline-size: 100%;
      max-inline-size: 100%;
      min-block-size: var(--_tabs-list-block-size);
    }
  }

  .tabs-list-tab {
    --outline-color: var(--noi-color-light-main);

    flex-shrink: 0;
    font-weight: var(--noi-font-weight-medium);
    font-size: var(--noi-font-size-md);
    line-height: var(--noi-line-height-tight);
    letter-spacing: var(--noi-letter-spacing-loose);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    scroll-snap-stop: normal;
    scroll-snap-align: start;
    min-block-size: getRem(40);
    inline-size: max-content;

    @container tabs-list (min-width: getRem(600)) {
      white-space: nowrap;
    }

    .page & {
      position: relative;
      display: grid;
      color: var(--noi-color-text-light-secondary);
      background: transparent;
      cursor: pointer;
      padding-inline: var(--noi-spacing-3x);
      block-size: var(--_tabs-list-block-size);
      place-items: center;
      max-inline-size: 80vi;

      @container tabs-list (min-width: getRem(600)) {
        padding-inline: var(--noi-spacing-6x);
        max-inline-size: unset;
      }

      @media (hover: hover) {
        /* stylelint-disable-next-line max-nesting-depth */
        &:not([aria-selected='true'], [aria-current='page']):hover {
          color: var(--noi-color-text-light);
        }
      }

      &[aria-selected='true'],
      &[aria-current='page'] {
        color: var(--noi-color-text-light);
        cursor: default;
      }

      &[aria-selected='true']::after,
      &[aria-current='page']::after {
        position: absolute;
        background-color: var(--noi-color-light-main);
        content: '';
        inset-block-end: getRem(-1);
        inset-inline: 0;
        block-size: getRem(2);
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .panel & {
      display: grid;
      flex: auto;
      color: var(--noi-color-text-light-secondary);
      background: transparent;
      border-radius: var(--noi-border-radius-pill);
      cursor: pointer;
      min-inline-size: min-content;
      place-items: center;
      padding-inline: var(--noi-spacing-2x);
      block-size: var(--_tabs-list-tab-block-size);

      @container tabs-list (min-width: getRem(600)) {
        min-inline-size: fit-content;
        padding-inline: var(--noi-spacing-4x);
      }

      @media (hover: hover) {
        /* stylelint-disable-next-line max-nesting-depth */
        &:not([aria-selected='true'], [aria-current='page']):hover {
          color: var(--noi-color-text-light);
          background: var(--noi-color-light-main-transparent-10);
        }
      }

      &[aria-selected='true'],
      &[aria-current='page'] {
        color: var(--noi-color-text-light);
        background: var(--noi-gradient-violet);
        cursor: default;
      }
    }
  }

  .tabs-panel {
    block-size: 100%;

    &[aria-hidden='true'] {
      display: none;
    }
  }
}
