.mute-notification {
  inline-size: 100%;
  padding: var(--noi-spacing-3x) getRem(16);
  background-color: var(--noi-color-gray-800);
}

.body {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.mute-message-wrapper {
  margin-inline-start: getRem(10);
}

.message {
  color: var(--noi-color-gray-150);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-sm);
}

.mute-icon {
  color: var(--noi-color-gray-150);
}

.info {
  color: var(--noi-color-text-light-secondary);
  font-size: var(--noi-font-size-xs);
}

.countdown-timer {
  display: inline;
}
