.opening-wrapper {
  --_cards-animation-appear-time: 1900ms;
  --_bundle-animation-opening-time: calc(var(--_cards-animation-appear-time) + 1700ms);

  --_bundle-hide-all-moment: calc(
    var(--_bundle-animation-card-deal-moment) + var(--_bundle-animation-card-deal-time) +
      200ms
  );

  --_bundle-animation-base-starting-center-position: getVarRem(
    calc(var(--_bundle-animation-stating-position-x) - 80)
  );
  --_bundle-animation-cards-starting-center-position: getVarRem(
    calc(var(--_bundle-animation-stating-position-x) - 80)
  );

  /* stylelint-disable-next-line declaration-property-value-disallowed-list */
  --_bundle-animation-background-radial-glow: radial-gradient(
    circle,
    rgba(0, 212, 255, 0.6) 0%,
    rgba(0, 212, 255, 0.2) 20%,
    rgba(0, 212, 255, 0.1) 35%,
    rgba(0, 212, 255, 0.05) 50%,
    rgba(0, 212, 255, 0) 70%
  );

  position: absolute;
  z-index: var(--noi-z-index-level-1);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  animation: hide-open-animation 20ms var(--_bundle-animation-opening-time) forwards;
  pointer-events: none;
  inset: 0;
}

@keyframes hide-open-animation {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
    pointer-events: none;
  }

  100% {
    /* stylelint-disable unit-allowed-list */
    position: absolute;
    display: inline-block;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: none;
    clip: rect(0 0 0 0);
    block-size: 1px;
    inline-size: 1px;
    /* stylelint-enable unit-allowed-list */
  }
}

.card-pack {
  position: absolute;
  z-index: var(--noi-z-index-level-9);
  transform-style: preserve-3d;
  opacity: 1;
  scale: 1;
  inset-block-start: calc(getVarRem(var(--_bundle-inset-block-start)) + getRem(64));
  inset-inline-start: getVarRem(calc(var(--_bundle-animation-stating-position-x) - 80));
  inline-size: var(--game-card-width-breakpoint-medium);
  aspect-ratio: var(--game-card-aspect-ratio);
}

@keyframes pack-appear {
  0% {
    transform: scale(5) translateY(getRem(30));
    opacity: 0;
  }

  30% {
    transform: scale(5) translateY(getRem(30));
    opacity: 0;
  }

  100% {
    transform: scale(1.5) translateY(0);
    opacity: 1;
  }
}

.card-pack-image {
  position: absolute;
  z-index: var(--noi-z-index-level-9);
  display: none;
  animation: hide-closed-pack 0ms var(--_bundle-animation-flash-moment) forwards;
  inline-size: 100%;
  block-size: 100%;
}

@keyframes hide-closed-pack {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.cards {
  position: absolute;
  opacity: 0;
  inset: 0;
  animation: show-cards 10ms var(--_cards-animation-appear-time) forwards;
}

@keyframes show-cards {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card-item {
  --_card-starting-pos-y: calc(getVarRem(var(--_bundle-inset-block-start) + getRem(120)));
  --_card-midway-pos-y: calc(getVarRem(var(--_bundle-inset-block-start) + getRem(62)));
  --_card-ending-pos-y: calc(
    getVarRem(var(--_bundle-animation-card-block-start) + getRem(62))
  );
  --_card-starting-pos-x: getVarRem(var(--_bundle-inset-inline-start));
  --_card-ending-pos-x: getVarRem(var(--_bundle-animation-card-inline-start));

  --_card-animation-moveup-duration: 500ms;
  --_card-animation-moveup-delay: calc(
    var(--_cards-animation-appear-time) + var(--_bundle-animation-card-timedelay)
  );
  --_card-animation-before-deal-pause: calc(var(--_card-animation-moveup-delay));
  --_card-animation-deal-duration: calc(
    var(--_card-animation-moveup-duration) +
      calc(var(--_bundle-animation-card-timedelay) * 3)
  );
  --_card-animation-deal-delay: calc(
    var(--_card-animation-moveup-duration) + var(--_card-animation-before-deal-pause) +
      var(--_bundle-animation-card-timedelay)
  );
  --_midle-card-animation-jump-duration: 850ms;
  --_midle-card-animation-jump-delay: calc(
    var(--_card-animation-moveup-duration) + 1700ms
  );

  position: absolute;
  z-index: var(--_bundle-animation-card-z-index);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  transform-style: preserve-3d;
  animation: card-animation-moveup-from-pack var(--_card-animation-moveup-duration)
      var(--_card-animation-moveup-delay) forwards cubic-bezier(0.23, 0.89, 0.59, 1),
    card-animation-deal var(--_card-animation-deal-duration)
      var(--_card-animation-deal-delay) forwards cubic-bezier(0.82, 0, 0.46, 1);
  inset-block-start: var(--_card-starting-pos-y);
  inset-inline-start: var(--_bundle-animation-cards-starting-center-position);

  &.middle {
    animation: card-animation-moveup-from-pack var(--_card-animation-moveup-duration)
        var(--_card-animation-moveup-delay) forwards cubic-bezier(0.23, 0.89, 0.59, 1),
      card-animation-deal var(--_card-animation-deal-duration)
        var(--_card-animation-deal-delay) forwards cubic-bezier(0.82, 0, 0.46, 1),
      middle-card-animation-jump var(--_midle-card-animation-jump-duration)
        var(--_midle-card-animation-jump-delay) forwards;
  }
}

@keyframes card-animation-moveup-from-pack {
  0% {
    inset-block-start: var(--_card-starting-pos-y);
    inset-inline-start: var(--_bundle-animation-cards-starting-center-position);
  }

  100% {
    inset-block-start: var(--_card-midway-pos-y);
    inset-inline-start: var(--_bundle-animation-cards-starting-center-position);
  }
}

@keyframes card-animation-deal {
  0% {
    inset-block-start: var(--_card-midway-pos-y);
    inset-inline-start: var(--_bundle-animation-cards-starting-center-position);
  }

  100% {
    inset-block-start: var(--_card-ending-pos-y);
    inset-inline-start: var(--_card-ending-pos-x);
  }
}

@keyframes middle-card-animation-jump {
  0% {
    scale: 1;
    animation-timing-function: cubic-bezier(0.92, 0, 0.73, 1);
  }

  65% {
    scale: 1.1;
    animation-timing-function: cubic-bezier(0.52, 0, 0.42, 1);
  }

  100% {
    scale: 1;
  }
}

.card {
  inline-size: var(--game-card-width-breakpoint-medium);
  aspect-ratio: var(--game-card-aspect-ratio);
  position: relative;
}

.back-glow {
  position: absolute;
  background: var(--_bundle-animation-background-radial-glow);
  transform: translate(getRem(-400), getRem(-100));
  opacity: 0;
  mix-blend-mode: color-dodge;
  animation: back-glow-fade var(--_bundle-animation-opening-time) forwards;
  inset-block-start: calc(getVarRem(var(--_bundle-inset-block-start)) - getRem(80));
  inset-inline-start: getVarRem(calc(var(--_bundle-animation-stating-position-x)));
  inline-size: min(100%, getRem(800));
  block-size: getRem(800);
}

.highlight {
  position: fixed;
  inset: 0;
  background-image: linear-gradient(
    -45deg,
    transparent 0 49%,
    var(--noi-color-green-200) 49%,
    transparent 70% 100%
  );
  background-size: 400% 400%;
  pointer-events: none;
}

@keyframes back-glow-fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
