.game-card-streamer-dialog-title-row {
  display: flex;
  align-items: center;
  margin-block-end: getRem(24);
}

.game-card-streamer-dialog-logo-wrapper {
  margin-inline-end: var(--noi-spacing-3x);
}

.game-card-streamer-dialog-label {
  color: var(--noi-color-text-dark);
  font-weight: var(--noi-font-weight-extra-bold);
  font-size: var(--noi-font-size-xl);
  font-style: italic;
  line-height: var(--noi-line-height-tight);
}

.game-card-streamer-dialog-secondary-label {
  color: var(--noi-color-text-dark-secondary);
  font-size: var(--noi-font-size-m);
  font-style: italic;
  line-height: var(--noi-line-height-tight);
}

.game-card-streamer-modialogdal-close-button {
  margin-inline-start: auto;
}

.game-card-streamer-dialog-video {
  inline-size: 100%;
  background-color: var(--noi-color-black-main);
  min-block-size: getRem(300);
  max-block-size: min(getRem(600), calc(90vb - getRem(400)));
  border-radius: var(--noi-border-radius-md);
  box-shadow: 0 10px 34px var(--noi-color-black-main-transparent-30);
}
