import React from 'react';
import * as Styles from './$NAME$.styles';

export interface Props {}
export function $NAME$({}: Props) {
  return (
    <Styles.Wrapper>Hello $NAME$</Styles.Wrapper>
  )
}

$NAME$.Loading = () => <Styles.Wrapper />;