.title {
  color: var(--noi-color-green-main);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-sm);
  text-transform: uppercase;
  margin-block-end: var(--noi-spacing-1x);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--noi-spacing-4x);
  row-gap: getRem(24);

  .best-card,
  .best-group,
  .best-player {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .card {
    inline-size: var(--game-card-width-breakpoint-medium);
  }

  .best-card {
    flex-basis: 100%;
  }
}

.container {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  background-color: var(--noi-color-gray-850);
  border-block-start: 1px solid var(--noi-color-green-main);
}

.body {
  display: flex;
  flex-wrap: nowrap;
  padding: var(--noi-spacing-4x);
  column-gap: var(--noi-spacing-4x);
  row-gap: getRem(24);

  .group {
    color: var(--noi-color-gray-500);
    font-weight: var(--noi-font-weight-medium);
    font-size: var(--noi-font-size-sm);
    font-family: var(--noi-font-family-body);
    margin-block-end: var(--noi-spacing-1x);
  }

  .name {
    color: var(--noi-color-light-main);
    font-weight: var(--noi-font-weight-bold);
    font-size: var(--noi-font-size-lg);
    font-family: var(--noi-font-family-body);
    margin-block-end: var(--noi-spacing-1x);
  }

  .points {
    color: var(--noi-color-yellow-green-main);
    font-weight: var(--noi-font-weight-medium);
    font-size: var(--noi-font-size-lg);
    font-variant-numeric: tabular-nums;
  }
}
