.loading-wrapper {
  display: grid;
  place-items: center;
  inline-size: 100vw;
  block-size: 100dvh;
  /* stylelint-disable declaration-property-value-disallowed-list */
  background-color: radial-gradient(
      93.23% 70.71% at 100% 100%,
      rgba(98, 58, 244, 0.4) 0%,
      rgba(98, 58, 244, 0) 100%
    ),
    radial-gradient(
      93.23% 70.71% at 0% 0%,
      rgba(98, 58, 244, 0.4) 0%,
      rgba(29, 33, 81, 0) 100%,
      rgba(98, 58, 244, 0) 100%
    ),
    var(--noi-color-blue-900);
}
