.page-content {
  display: grid;
  gap: var(--noi-spacing-8x);
}

.page-title-wrapper {
  border-block-end: 1px var(--noi-color-light-main-transparent-10) solid;
  padding-block-end: var(--noi-spacing-8x);
}

.page-title {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-2x);
  font-weight: var(--noi-font-weight-extra-bold);
  font-size: var(--noi-font-size-xl);
  font-style: italic;
  line-height: var(--noi-line-height-tight);
  text-transform: uppercase;

  @media (min-width: getRem(1200)) {
    font-size: var(--noi-font-size-2xl);
  }
}

.title-creators {
  color: var(--noi-color-text-light-secondary);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-md);
  font-style: normal;
  letter-spacing: var(--noi-letter-spacing-loose);
}

.loading-title {
  &:first-of-type:not(:last-of-type) {
    block-size: var(--noi-font-size-xl);

    @media (min-width: getRem(1200)) {
      block-size: var(--noi-font-size-2xl);
    }
  }

  &:last-of-type:not(:first-of-type) {
    block-size: var(--noi-font-size-lg);
    inline-size: getRem(120);
  }
}
