.wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-1x);
}

.text-count {
  color: var(--noi-color-text-light-secondary);
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-lg);
  line-height: var(--noi-line-height-tight);
}

.text-description {
  color: var(--noi-color-text-light-secondary);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-lg);
  line-height: var(--noi-line-height-tight);
  text-transform: uppercase;
}
