.implicit-account-game-banner-wrapper {
  position: absolute;
  z-index: var(--noi-z-index-level-8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--noi-spacing-6x);
  pointer-events: none;
  container-type: size;
  inset: 0;
}

.implicit-account-game-banner {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  pointer-events: auto;
}

.signup-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--noi-spacing-8x) var(--noi-spacing-6x);
  color: var(--noi-color-text-dark-secondary);
  line-height: var(--noi-line-height-medium);
  background-color: var(--noi-color-light-main);
  border-radius: var(--noi-border-radius-md);
  inline-size: min(getRem(480), 80vi);

  @container (min-width: getRem(864)) {
    border-end-start-radius: 0;
    border-start-start-radius: 0;
  }
}

.signup-section-content {
  display: grid;
  gap: var(--noi-spacing-4x);
  justify-items: center;
  text-align: center;
  inline-size: min(getRem(360), 100%);
}

.signup-section-title {
  color: var(--noi-color-text-dark);
  font-weight: var(--noi-font-weight-extra-bold);
  font-size: var(--noi-font-size-xl);
  font-style: italic;
  line-height: var(--noi-line-height-tight);
  text-transform: uppercase;
}

.signup-section-divider {
  justify-self: normal;
  background-color: var(--noi-color-gray-100);
  /* stylelint-disable-next-line unit-allowed-list */
  block-size: 1px;
}

.upsell-section {
  display: none;
  padding: var(--noi-spacing-6x) var(--noi-spacing-10x);
  /* stylelint-disable-next-line declaration-property-value-disallowed-list */
  background: linear-gradient(
      137deg,
      rgba(235, 82, 220, 0.5) 1.89%,
      rgba(255, 53, 247, 0) 57.48%
    ),
    #0e0345;
  border-end-start-radius: var(--noi-border-radius-md);
  border-start-start-radius: var(--noi-border-radius-md);

  @container (min-width: getRem(864)) {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--noi-spacing-8x);
    justify-content: center;
    inline-size: getRem(392);
  }

  .has-rank & {
    @container (min-width: getRem(1216)) {
      inline-size: getRem(688);
    }
  }
}

.upsell-section-title {
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-lg);
  line-height: var(--noi-line-height-tight);
  text-transform: uppercase;
}

.card-section {
  text-align: center;
  inline-size: min(getRem(264), 100%);
}

.cards-image {
  margin-block-end: calc(-1 * var(--noi-spacing-8x));
}

.rank-section {
  display: none;
  gap: var(--noi-spacing-6x);
  align-items: start;
  text-align: center;
  inline-size: min(getRem(320), 100%);

  .has-rank & {
    @container (min-width: getRem(1216)) {
      display: grid;
    }
  }
}

.close-button {
  position: absolute;
  inset-inline-end: var(--noi-spacing-2x);
  inset-block-start: var(--noi-spacing-2x);
}
