.purchase-dialog-wrapper {
  display: grid;
  grid-template-areas: 'preview details';
  grid-template-columns: getRem(150) minmax(0, 1fr);
  align-items: center;
}

.item-preview-wrapper {
  display: grid;
  grid-area: preview;
  background: var(--noi-color-gray-50);
  border-radius: var(--noi-border-radius-sm);
  place-items: center;
  place-content: center;
  min-inline-size: getRem(150);
  min-block-size: getRem(150);

  .preview-image {
    max-inline-size: 100%;
    max-block-size: 100%;
  }
}

.purchase-info-wrapper {
  display: grid;
  grid-area: details;
  grid-template-columns: 1fr;
  gap: var(--noi-spacing-4x);
  padding: var(--noi-spacing-6x);
  color: var(--noi-color-text-dark);
  line-height: var(--noi-line-height-medium);
}

.creator-details-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-3x);
  align-items: center;
  justify-content: start;
  justify-items: start;
  line-height: var(--noi-line-height-tight);

  .details-primary {
    display: block;
    color: var(--noi-color-text-dark);
    font-weight: var(--noi-font-weight-bold);
    font-size: var(--noi-font-size-lg);
  }

  .details-secondary {
    color: var(--noi-color-text-dark-secondary);
    font-size: var(--noi-font-size-md);
    font-style: italic;
  }
}

.channel-name {
  font-weight: var(--noi-font-weight-medium);
}
