.seasons-wrapper {
  display: grid;
  grid-template-rows: min-content min-content auto;
  grid-template-columns: 1fr;
  gap: getRem(24);
  min-block-size: 100%;
}

.seasons-header-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--noi-spacing-3x);
}

.seasons-heading {
  font-weight: var(--noi-font-weight-extra-bold);
  font-size: var(--noi-font-size-2xl);
  font-style: italic;
  line-height: var(--noi-line-height-tight);
  text-transform: uppercase;

  @media (min-width: getRem(1200)) {
    font-size: var(--noi-font-size-3xl);
  }
}

.rewards-section-wrapper {
  display: grid;
  grid-template-columns: auto max-content;
  /* Dont add gap as long as the "NextUnlock" is not shown */
  /* gap: var(--noi-spacing-8x); */
  align-items: end;
}

.background {
  inline-size: 100%;
  block-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  block-size: 100%;
  margin: auto;
  overflow-y: visible;
}

.horizontal-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-14x);
  margin: getRem(56);

  .responsive-platform & {
    margin-inline: 0;
    margin-block: getRem(56);
  }
}

.vertical-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
