.title {
  color: var(--noi-color-text-light-secondary);
  font-weight: var(--noi-font-weight-regular);
  font-size: var(--noi-font-size-md);
}

.friends-icon {
  inline-size: getRem(20);
  block-size: getRem(20);
  color: var(--noi-color-text-light);
}

.list {
  @mixin list-style-none;
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-half);
  margin: 0;
  padding: 0;
}

.empty-state {
  padding: var(--noi-spacing-half) var(--noi-spacing-4x);
  color: var(--noi-color-gray-550);
  font-weight: var(--noi-font-weight-regular);
  font-size: var(--noi-font-size-md);
}
