.option {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-2x);
  align-items: center;
  padding: var(--noi-spacing-2x);
  color: var(--noi-color-gray-150);
  font-weight: var(--noi-font-weight-medium);
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  font-size: getRem(15);
  line-height: var(--noi-line-height-tight);
  border-radius: var(--noi-border-radius-xs);
  cursor: pointer;

  &[aria-selected='true'] {
    color: var(--noi-color-green-main);
    background-color: var(--noi-color-gray-700);
  }

  &:hover {
    background-color: var(--noi-color-gray-700);
  }
}

.live-dot {
  background-color: var(--noi-color-gray-550);
  border-radius: var(--noi-border-radius-circle);
  inline-size: getRem(6);
  block-size: getRem(6);

  &.live {
    background-color: var(--noi-color-green-main);
  }
}
