.wrapper {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
}

.video {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--noi-color-gray-950);
  aspect-ratio: var(--video-player-aspect-ratio, 16 / 9);
}

.overlay-wrapper {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  opacity: 0;
  transition: opacity var(--noi-duration-quick);

  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }

    .has-not-played &:hover {
      opacity: 0;
    }
  }
}

.init-play-button {
  z-index: var(--noi-z-index-level-1);
  opacity: 0;
  transition: opacity var(--noi-duration-quick);

  .has-not-played & {
    opacity: 1;
  }
}

.title {
  position: absolute;
  color: var(--noi-color-text-light);
  font-size: var(--noi-font-size-lg);
  inset-block-start: getRem(20);
  inset-inline-start: getRem(20);
}

.toggle-button {
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  padding: 0;
  background: none;
}
