.ban-wrapper {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  gap: getRem(83);
  margin: 0;
  padding: var(--noi-spacing-12x);
  /* stylelint-disable declaration-property-value-disallowed-list */
  background: radial-gradient(
      93.23% 70.71% at 100% 100%,
      rgba(98, 58, 244, 0.4) 0%,
      rgba(98, 58, 244, 0) 100%
    ),
    radial-gradient(
      93.23% 70.71% at 0% 0%,
      rgba(98, 58, 244, 0.4) 0%,
      rgba(29, 33, 81, 0) 100%,
      rgba(98, 58, 244, 0) 100%
    ),
    var(--noi-color-blue-900);
  inline-size: 100%;
  min-block-size: 100vb;
}

.ban-header {
  display: grid;
  grid-template-columns: auto min-content;
  gap: var(--noi-spacing-4x);
  align-items: center;
  justify-content: space-between;
}

.ban-noice-logo {
  inline-size: getRem(198);
}

.ban-main-wrapper {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr;
  gap: var(--noi-spacing-8x);
  max-inline-size: getRem(600);
  min-inline-size: getRem(320);
  inline-size: 100%;
  margin-inline: auto;
}

.ban-heading {
  color: var(--noi-color-text-light);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-2xl);
  text-align: center;
}

.ban-description {
  color: var(--noi-color-text-light-secondary);
}

.ban-section-wrapper {
  overflow: hidden;
  border: 1px solid var(--noi-color-violet-700);
  border-radius: var(--noi-border-radius-md);

  &.horizontal {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--noi-spacing-3x);
    align-items: center;
  }

  &.vertical {
    display: flex;
    flex-direction: column;
    gap: var(--noi-spacing-3x);
  }
}

.ban-section-inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-3x);
  align-items: center;
}

.ban-section-content-wrapper {
  display: grid;
  padding: var(--noi-spacing-3x) getRem(24);
  block-size: 100%;
}

.ban-section-highlight {
  font-weight: var(--noi-font-weight-medium);
  background-color: var(--noi-color-violet-700);
  min-inline-size: fit-content;
}

.ban-section-heading {
  color: var(--noi-color-text-light-secondary);
}

.ban-section-value {
  font-weight: var(--noi-font-weight-medium);
}

.ban-appeal-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--noi-spacing-4x);
}

.ban-appeal-heading {
  color: var(--noi-color-text-light);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-xl);
}
