.browser-source-base-main-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-block-start: getRem(8);
  overflow: hidden;
  pointer-events: none;
  max-inline-size: 100vw;
  max-block-size: 100vh;
  inline-size: 100vw;
  block-size: 100vh;
}

.browser-source-base-main-container {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-1x);
  align-items: center;
  inline-size: var(--game-card-width-breakpoint-large);
  max-inline-size: var(--game-card-width-breakpoint-large);
  block-size: getRem(360);
}
