.wrapper {
  position: relative;
  color: var(--noi-color-text-light);
  text-align: center;
  padding-block-end: calc(getRem(32) - var(--game-card-border-width));

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.amount {
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-2xl);
  line-height: var(--noi-line-height-tight);
  transform-origin: bottom center;
  opacity: 0;

  .is-shown & {
    animation: amount-slide-in 225ms var(--_game-card-duplicates-delay, 0ms) forwards;
  }
}

@keyframes amount-slide-in {
  0% {
    scale: 2.4;
    translate: 0 getRem(20);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.4, 0.23, 0.88, 0.76);
  }

  75% {
    scale: 0.85;
    translate: 0 getRem(0);
    opacity: 0.9;
    animation-timing-function: cubic-bezier(0.16, 0.53, 0.44, 1);
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

.stack-item {
  --_duplicate-opacity: 0;
  position: absolute;
  z-index: var(--noi-z-index-behind);
  background: var(--_game-card-duplicates-asset-url) no-repeat;
  background-position: center var(--_game-card-duplicates-asset-position-y);
  background-size: cover;
  opacity: 0;
  block-size: getRem(6);
  border-start-start-radius: calc(var(--game-card-border-radius) / 2);
  border-start-end-radius: calc(var(--game-card-border-radius) / 2);
}

.first-stack-item {
  inset-inline-end: getRem(6);
  inset-block-end: getRem(-1);
  inset-inline-start: getRem(6);

  .is-shown & {
    --_duplicate-opacity: 1;
    animation: stack-slide-in 250ms var(--_game-card-duplicates-delay, 0ms) forwards;
  }
}

.second-stack-item {
  inset-inline-end: getRem(12);
  inset-block-end: getRem(3);
  inset-inline-start: getRem(12);

  .is-shown & {
    --_duplicate-opacity: 0.75;
    animation: stack-slide-in 250ms calc(var(--_game-card-duplicates-delay, 0ms) + 50ms)
      forwards;
  }
}

.third-stack-item {
  inset-inline-end: getRem(18);
  inset-block-end: getRem(7);
  inset-inline-start: getRem(18);

  .is-shown & {
    --_duplicate-opacity: 0.5;
    animation: stack-slide-in 250ms calc(var(--_game-card-duplicates-delay, 0ms) + 100ms)
      forwards;
  }
}

@keyframes stack-slide-in {
  0% {
    transform: translateY(getRem(15));
    opacity: var(--_duplicate-opacity);
    animation-timing-function: cubic-bezier(0.25, 0.71, 0.44, 1);
  }

  75% {
    transform: translateY(getRem(-3));
    opacity: var(--_duplicate-opacity);
    animation-timing-function: cubic-bezier(0.61, 0, 0.91, 0.5);
  }

  100% {
    transform: translateY(0);
    opacity: var(--_duplicate-opacity);
  }
}
