.user {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-1x);
  align-items: center;
  margin: var(--noi-spacing-2x) 0;
}

.avatar-wrapper {
  border-radius: getRem(20);
  box-shadow: 0 0 0 1px var(--noi-color-status-error-main);
}

.name {
  padding: var(--noi-spacing-half);
  color: var(--noi-color-status-error-main);
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-sm);
  border-radius: var(--noi-border-radius-sm);

  .hoverable &:hover {
    background-color: var(--noi-color-gray-750);
  }
}

.hoverable {
  cursor: pointer;
}
