.game-card-button-wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  transform: translateY(getRem(-20));
  opacity: 0;
  animation: slide-out 100ms ease-out 100ms reverse forwards;
  animation-delay: var(--card-select-card-item-delay);
  inline-size: 100%;
}

.game-card-button {
  inline-size: 100%;
  @mixin game-card-idle-shadow;
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(getRem(-20));
    opacity: 0;
  }
}
