.button {
  display: block;
  inline-size: getRem(24);
  block-size: getRem(24);
  padding: 0;
  color: var(--white);
  background-color: transparent;
  border-radius: getRem(5);
  cursor: pointer;
  transition: color var(--noi-duration-quick);

  &:hover {
    color: var(--primary-500);
  }

  .icon {
    inline-size: 100%;
    block-size: 100%;
  }
}
