.challenges-root {
  padding: var(--noi-spacing-10x) var(--noi-spacing-16x);
}

.challenges-content {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-10x);
  margin: auto;
  max-inline-size: getRem(800);
}
