.items-summary {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-4x);
}

.items-summary-title {
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-md);
}

.items-summary-list {
  @mixin list-style-none;
  background-color: var(--noi-color-gray-50);
  border-radius: var(--noi-border-radius-sm);
}

.items-summary-item {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-4x);
  align-items: center;
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-lg);
  line-height: var(--noi-line-height-tight);
  padding-inline: getRem(24);
  padding-block: getRem(16);
}

.item-name {
  flex-grow: 1;
}

.item-price {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-2x);
  align-items: center;
}

.original-price {
  color: var(--noi-color-text-light-secondary);
  font-weight: var(--noi-font-weight-base);
  text-decoration: line-through;
}

.purchase-total-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-4x);
  align-items: center;
  justify-content: flex-end;
  padding: 0 getRem(24);
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-lg);
  line-height: var(--noi-line-height-tight);
}

.divider {
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  border: unset;
  border-block-start: 1px solid var(--noi-color-gray-100);
  margin-block-start: var(--noi-spacing-8x);
  margin-block-end: var(--noi-spacing-6x);
}

.payment-result-content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-2x);
  align-items: center;
  font-weight: var(--noi-font-weight-medium);
}

.back-to-store-button {
  max-inline-size: getRem(320);
  flex-grow: 1;
}
