.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-4x);
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-2x);
  border: none;
}

.legend {
  font-weight: var(--noi-font-weight-medium);
  line-height: var(--noi-line-height-medium);
  margin-block-end: var(--noi-spacing-2x);
}
