.description-section {
  padding: var(--noi-spacing-6x);
  color: var(--noi-color-text-dark);
  font-weight: var(--noi-font-weight-base);
  font-size: var(--noi-font-size-md);
  line-height: var(--noi-line-height-loose);
  background-color: var(--noi-color-light-main);
  border-radius: var(--noi-border-radius-md);
}

.perk-section {
  display: flex;
  flex-direction: column;
  gap: getRem(24);
}

.perk-description {
  color: var(--noi-color-text-dark);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-md);
  line-height: var(--noi-line-height-loose);
}

.perk-wrapper {
  display: flex;
  flex-direction: column;
  gap: getRem(24);
  align-items: flex-start;
  align-self: stretch;
  padding: var(--noi-spacing-6x);
  background-color: var(--noi-color-gray-50);
  border-radius: var(--noi-border-radius-md);
}

.perk-list-title {
  display: block;
  font-weight: var(--noi-font-weight-medium);
  line-height: var(--noi-line-height-tight);
}

.perk-list-description {
  display: block;
  color: var(--noi-color-text-dark-secondary);
  font-size: var(--noi-font-size-sm);
  line-height: var(--noi-line-height-loose);
  margin-block-start: var(--noi-spacing-2x);
}

.perk-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-2x);
  align-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  margin-block-start: getRem(16);

  &.badge-list {
    gap: var(--noi-spacing-4x);
  }
}

.perk-divider {
  align-self: stretch;
  background-color: var(--noi-color-light-main);
  block-size: getRem(1);
}

.price-disclaimer-section {
  color: var(--noi-color-text-dark-secondary);
  font-weight: var(--noi-font-weight-regular);
  font-size: var(--noi-font-size-sm);
  line-height: var(--noi-line-height-loose);
}
