.button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: var(--noi-border-radius-circle);
  cursor: pointer;

  &:hover {
    outline: getRem(4) solid var(--noi-color-gray-700);
  }
}
