<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">
      function isReactNativeWebView() {
        return 'ReactNativeWebView' in window;
      }
    </script>


    <%- injectUsercentricsCode %>
    <!-- Google Tag Manager -->
    <script type="text/javascript">
      // create dataLayer
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      // set „denied" as default for both ad and analytics storage, as well as ad_user_data and ad_personalization,
      gtag("consent", "default", {
        ad_user_data: "denied",
        ad_personalization: "denied",
        ad_storage: "denied",
        analytics_storage: "denied",
        wait_for_update: 2000 // milliseconds to wait for update
      });

      // Enable ads data redaction by default [optional]
      gtag("set", "ads_data_redaction", true);
    </script>

    <script type="text/javascript">

      if (!isReactNativeWebView()) {
        // Google Tag Manager
        (function(w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
          });
          var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TQWWDDLP');
      }
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8"/>
    <!-- HTML Meta Tags -->
    <title>Noice</title>
    <meta name="description" content="Noice is the next-gen livestreaming platform for gamers. Play the stream!">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.noice.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Noice">
    <meta property="og:description" content="Noice is the next-gen livestreaming platform for gamers. Play the stream!">
    <meta property="og:image" content="https://storage.googleapis.com/noice-client-assets-b9745b84/OpenGraph/noice-og-image.webp">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="noice.com">
    <meta property="twitter:url" content="https://www.noice.com/">
    <meta name="twitter:title" content="Noice">
    <meta name="twitter:description" content="Noice is the next-gen livestreaming platform for gamers. Play the stream!">
    <meta name="twitter:image" content="https://storage.googleapis.com/noice-client-assets-b9745b84/OpenGraph/noice-og-image.webp">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="theme-color" content="#0C0032">

    <%- injectWindowNoice %>
    <%- injectGoogleAdsCode %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQWWDDLP"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="root"></div>
    <div id="portals"></div>
    <%- injectZendeskScript %>
    <script async type="module" src="/src/index.tsx"></script>
    <script>
      if (!isReactNativeWebView()) {
        const chargebeeScript = document.createElement('script');
        chargebeeScript.src = 'https://js.chargebee.com/v2/chargebee.js';
        chargebeeScript.async = true;
        document.head.appendChild(chargebeeScript);
      }
    </script>
  </body>
</html>
