.menu-link {
  @mixin label s, medium;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: getRem(10) getRem(24);
  color: var(--neutral-200);
  text-decoration: none;
  transition: background-color var(--noi-duration-quick);

  &:hover {
    background-color: var(--neutral-600);
  }

  .sub-menu-active & {
    background-color: var(--neutral-700);
  }

  .active & {
    color: var(--white);
    border-inline-start: getRem(6) solid var(--primary-500);
    padding-inline-start: getRem(18);
  }
}

.title-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: getRem(10);
  align-items: center;
}

.icon {
  inline-size: getRem(20);
  block-size: getRem(20);
  color: var(--neutral-400);

  .active & {
    color: var(--white);
  }

  .sub-menu-active .main-menu-link & {
    color: var(--white);
  }
}

.main-menu-link {
  .sub-menu-active & {
    padding-inline-start: getRem(18);
    border-inline-start: getRem(6) solid var(--primary-900);
  }
}

.menu-icon {
  .sub-menu-active & {
    transform: rotate(90deg);
  }
}

.sub-menu {
  @mixin list-style-none;
  margin: 0;
  padding: 0;
}

.sub-menu-link {
  padding-inline-start: getRem(56);

  .active & {
    padding-inline-start: getRem(50);
  }
}
