.section {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-4x);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-4x);
}

.save-button {
  inline-size: getRem(200);
}
