.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-4x);
  padding: var(--noi-spacing-3x);
}

.tooltip-title {
  color: var(--noi-color-text-light);
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-md);
  text-transform: uppercase;
}

.content-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-4x);
  align-items: center;
  justify-content: space-between;
}

.label-title {
  display: block;
  color: var(--noi-color-gray-400);
  font-size: var(--noi-font-size-sm);
  margin-block-end: var(--noi-spacing-1x);
}

.lock-icon {
  inline-size: getRem(24);
  block-size: getRem(24);
  color: var(--noi-color-gray-400);
}
