.wrapper {
  display: flex;
  flex-direction: column;
  gap: getRem(1);
}

.top {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--noi-spacing-2x);
  align-items: center;
  justify-content: space-between;
  padding: getRem(18) getRem(24);
  background-color: var(--noi-color-violet-600);
  border-radius: var(--noi-border-radius-md);

  @media (min-width: getRem(960)) {
    grid-template-columns: 1fr auto;
  }

  .show-list & {
    border-end-start-radius: 0;
    border-end-end-radius: 0;
  }

  &.no-blocked-users {
    background-color: var(--noi-color-violet-800);
  }
}

.label {
  font-size: var(--noi-font-size-lg);
}

.blocked-user-amount {
  font-weight: var(--noi-font-weight-bold);
}

.show-button {
  padding: 0;
  color: var(--noi-color-status-error-main);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-sm);
  line-height: var(--noi-line-height-tight);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.bottom {
  display: none;
  padding: getRem(16) 0;
  border-end-start-radius: var(--noi-border-radius-md);
  border-end-end-radius: var(--noi-border-radius-md);

  .show-list & {
    display: block;
  }

  @media (min-width: getRem(960)) {
    padding: var(--noi-spacing-4x);
    background-color: var(--noi-color-violet-700);
  }
}

.table {
  display: none;

  @media (min-width: getRem(960)) {
    display: table;
    overflow: hidden;
    font-size: var(--noi-font-size-sm);
    border: 1px solid var(--noi-color-gray-800);
    border-radius: var(--noi-border-radius-md);
    border-spacing: 0;
    inline-size: 100%;
  }
}

.th {
  padding: getRem(8) getRem(6);
  color: var(--noi-color-text-light);
  font-size: var(--noi-font-size-sm);
  text-align: start;
  background-color: var(--noi-color-violet-800);
}

.td {
  padding: getRem(8) getRem(6);
  border-block-start: 1px solid var(--noi-color-violet-900);

  &:first-of-type {
    padding-inline-start: var(--noi-spacing-3x);
  }

  &:last-of-type {
    padding-inline-end: var(--noi-spacing-3x);
    text-align: end;
  }
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.display-name {
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-md);
  line-height: var(--noi-line-height-medium);
}

.users-blocked-list {
  @media (min-width: getRem(960)) {
    display: none;
  }

  .blocked-list-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--noi-spacing-2x);
    padding: getRem(8) getRem(16);
    background-color: var(--noi-color-violet-700);
    border-radius: var(--noi-border-radius-sm);
  }
}

.item-profile-details {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-4x);
  align-items: center;
}

.date-blocked {
  color: var(--noi-color-text-light-secondary);
  font-size: var(--noi-font-size-sm);
  line-height: var(--noi-line-height-medium);

  .date {
    color: var(--noi-color-text-light);
    line-height: var(--noi-line-height-tight);
  }
}
