.circle-avatar {
  --anim-offset-x: 0;
  --avatar-size: getRem(24);

  position: absolute;
  inset-block-end: 0;
  inline-size: var(--avatar-size);
  block-size: var(--avatar-size);
  background-color: var(--noi-color-gray-800);
  background-size: 100%;
  border-radius: var(--noi-border-radius-circle);
  cursor: pointer;
  animation: float-up forwards ease-out 3500ms;

  &.missing {
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      color: var(--noi-color-text-light-secondary);
      font-weight: var(--noi-font-weight-extra-bold);
      font-size: var(--noi-font-size-lg);
      content: '?';
    }
  }
}

@keyframes float-up {
  0% {
    transform: translate(var(--anim-offset-x), 0);
    opacity: 0;
  }

  10%,
  50% {
    opacity: 1;
  }

  100% {
    transform: translate(var(--anim-offset-x), getRem(-36));
    opacity: 0;
  }
}
