.input-wrapper [data-noi='input-field'] {
  padding: 0;
  color: var(--noi-color-dark-main);
  font-weight: var(--noi-font-weight-extra-bold);
  font-size: var(--noi-font-size-2xl);
  text-align: center;
}
