.button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  inline-size: 100%;
  padding: var(--noi-spacing-1x);
  color: var(--noi-color-text-light);
  font-size: var(--noi-font-size-sm);
  text-align: start;
  background: none;
  border: none;
  border-radius: var(--noi-border-radius-xs);
  cursor: pointer;
  transition: background-color var(--noi-duration-quick) ease-out;

  &.active {
    background-color: var(--noi-color-gray-700);
  }
}

.title {
  display: block;
  font-size: var(--noi-font-size-sm);
}

.description {
  color: var(--noi-color-gray-400);
  font-size: var(--noi-font-size-sm);
}

.image-container {
  inline-size: getRem(40);
  block-size: getRem(40);
  background: var(--noi-color-gray-800);
  border-radius: var(--noi-border-radius-xs);
}

.image {
  inline-size: 100%;
}
