.container {
  position: relative;
  padding: var(--noi-spacing-4x);
  block-size: 100%;
  padding-block-end: 0;
}

/* Stream Events Spotlight  */
.spotlight-wrapper {
  position: relative;
  display: grid;
  grid-auto-rows: minmax(0, 1fr) min-content;
  grid-template-areas:
    'highlights'
    'actions';
  grid-template-columns: 1fr;
  block-size: 100%;
  max-block-size: 100%;
  overflow: hidden;
}

.expanded-event-wrapper {
  /* We can't (yet) transition from block-size 0 to auto. But we can transition grid rows 0fr to 1fr (auto) */
  display: grid;
  grid-template-rows: 0fr;
  filter: brightness(2);
  transition: grid-template-rows var(--noi-duration-quick)
      cubic-bezier(0.215, 0.61, 0.355, 1),
    filter var(--noi-duration-quick) ease-out;

  .hide-event-overflow {
    overflow: hidden;
  }
}

.show-expanded-event {
  grid-template-rows: 1fr;
  filter: brightness(1);
}

.spotlight-events-container {
  @mixin narrow-scrollbar;
  grid-area: highlights;
  overflow-y: auto;
  max-block-size: 100%;
}

.spotlight-events-list {
  @mixin list-style-none;
  margin: 0;
  padding: 0;
}

.spotlight-event-list-item {
  border-block-end: 1px solid var(--noi-color-gray-800);
}

.spotlight-controls-container {
  display: flex;
  flex-wrap: wrap;
  grid-area: actions;
  align-items: center;
  justify-content: space-between;
  padding: var(--noi-spacing-2x);
  background-color: var(--noi-color-gray-850);
  border-radius: var(--noi-border-radius-xs);
  inline-size: 100%;
}
