.empty-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-2x);
  justify-content: center;
  padding: var(--noi-spacing-2x) var(--noi-spacing-6x);
  color: var(--noi-color-text-light);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-md);
  line-height: var(--noi-line-height-medium);
  background-color: var(--noi-color-violet-600);
  border-radius: var(--noi-border-radius-md);
  min-block-size: getRem(56);
}

.empty-secondary-paragraph {
  color: var(--noi-color-text-light-secondary);
  font-weight: var(--noi-font-weight-regular);
  font-size: var(--noi-font-size-sm);
}

.load-more-button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-inline: 50%;
  margin-block-start: getRem(16);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-4x);
}
