.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-6x);
  container-type: inline-size;
}

.top-content {
  display: flex;
  flex-direction: column;
  gap: getRem(24);

  @container (min-width: getRem(672)) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.navigation-wrapper {
  scroll-margin: var(--platform-scroll-margin);
}
