.wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-2x);
  justify-content: space-between;
}

.label-wrapper {
  display: grid;
  gap: var(--noi-spacing-2x);
}

.label {
  color: var(--noi-color-light-main);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-md);
  line-height: var(--noi-line-height-tight);
  text-transform: uppercase;
}

.description {
  color: var(--noi-color-text-light-secondary);
  font-size: var(--noi-font-size-sm);
  line-height: var(--noi-line-height-medium);
}

.chevron {
  flex-shrink: 0;
  align-self: center;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link-children {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-2x);
  align-items: center;
}
