.sub-heading {
  color: var(--noi-color-text-light-secondary);
  font-size: var(--noi-font-size-sm);
  line-height: var(--noi-line-height-medium);
}

.title {
  color: var(--noi-color-light-main);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-lg);
  line-height: var(--noi-line-height-tight);
  text-transform: uppercase;
}
