/* stylelint-disable unit-allowed-list */
@layer noice.ui {
  .visually-hidden {
    position: absolute;
    display: inline-block;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: none;
    clip: rect(0 0 0 0);
    block-size: 1px;
    inline-size: 1px;

    &.show-on-focus:focus-within {
      all: unset;
    }
  }
}
/* stylelint-enable unit-allowed-list */
