.wrapper {
  position: relative;
}

.menu {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: var(--noi-spacing-1x);
  align-items: flex-start;
  padding: var(--noi-spacing-2x);
  background: var(--noi-color-gray-850);
  border: 1px solid var(--noi-color-gray-700);
  border-radius: var(--noi-border-radius-xs);
  inset-inline-start: 0;
  inline-size: max-content;
  inset-block-start: 100%;

  [aria-expanded='true'] + & {
    display: flex;
  }
}

.button {
  inline-size: 100%;
  justify-content: flex-start;
}

.divider {
  block-size: getRem(1);
  background-color: var(--noi-color-gray-700);
  inline-size: 100%;
  margin-block: var(--noi-spacing-2x);
}
