.part-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.part-icon {
  margin: 16cqi;
  color: var(--noi-color-text-light);
  inline-size: 36cqi;
  block-size: 36cqi;

  .selected & {
    color: var(--noi-color-teal-main);
  }
}

.image-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (max-width: getRem(700)) {
    padding-block-start: var(--noi-spacing-2x);
  }
}

.part-image {
  inline-size: 68cqi;
  block-size: 68cqi;
}

.part-name {
  margin: 0 var(--noi-spacing-2x) var(--noi-spacing-4x) var(--noi-spacing-2x);
  overflow: hidden;
  color: var(--noi-color-text-light);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-xs);
  white-space: nowrap;
  text-overflow: ellipsis;
  inline-size: 80cqi;
}

.check-icon {
  position: absolute;
  inset-block-start: var(--noi-spacing-2x);
  inset-inline-start: var(--noi-spacing-2x);
  inline-size: getRem(24);
  block-size: getRem(24);

  &.selected {
    color: var(--noi-color-teal-main);
    opacity: 1;
  }
}

.price-container {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-1x);
  align-items: center;
  inset-block-start: var(--noi-spacing-2x);
  inset-inline-start: var(--noi-spacing-2x);
}

.price-text {
  color: var(--noi-color-text-light);
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-sm);
  line-height: var(--noi-line-height-tight);
  white-space: nowrap;
}

.channel-logo-container {
  position: absolute;
  inset-block-start: var(--noi-spacing-2x);
  inset-inline-end: var(--noi-spacing-2x);
}
