.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-4x);
}

.section-title {
  font-size: var(--noi-font-size-md);
  line-height: var(--noi-line-height-tight);
  text-transform: uppercase;
}

.upload-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-4x);
  align-items: center;
}

.drag-and-drop {
  flex-shrink: 0;
}

.description {
  color: var(--noi-color-gray-400);
  font-size: var(--noi-font-size-sm);
  margin-block-start: var(--noi-spacing-2x);
}

.preview-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-4x);
  align-items: center;
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-lg);
  line-height: var(--noi-line-height-tight);
}
