.currency-bundle-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--noi-spacing-2x);
  color: var(--noi-color-text-light);
  border-radius: var(--noi-border-radius-md);
  cursor: pointer;
  block-size: getRem(280);

  @media (hover: hover) {
    &:not([disabled]):hover {
      transform: scale(1.025);
    }
  }

  &[disabled]::after {
    position: absolute;
    z-index: var(--noi-z-index-level-1);
    background-color: var(--noi-color-black-tmain-ransparent-10);
    backdrop-filter: blur(1px);
    content: '';
    inline-size: 100%;
    block-size: 100%;
    inset: 0 0 0 0;
  }

  &.hard-currency {
    background: linear-gradient(
      90deg,
      var(--noi-color-violet-600) 0%,
      var(--noi-color-magenta-700) 100%
    );
  }

  &.reshuffle-token {
    background: linear-gradient(
      90deg,
      var(--noi-color-violet-600) 0%,
      var(--noi-color-teal-700) 100%
    );
  }
}

.item {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: var(--noi-spacing-2x);
  align-items: center;
  align-self: stretch;
  justify-content: center;
  padding: var(--noi-spacing-2x) getRem(24) 0 getRem(24);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-1x);
  align-items: center;
  justify-content: center;
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-md);
  line-height: var(--noi-line-height-tight);
  block-size: getRem(80);
}

.content-amount {
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-3xl);
}

.price-wrapper {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: var(--noi-spacing-4x);
  align-items: center;
  align-self: stretch;
  justify-content: center;
  padding: 0 getRem(24);
  font-weight: var(--noi-font-weight-base);
  font-size: var(--noi-font-size-xl);
  line-height: var(--noi-line-height-tight);
  text-transform: uppercase;
  border-radius: var(--noi-border-radius-sm);
  block-size: getRem(64);

  .hard-currency & {
    background: linear-gradient(
      90deg,
      var(--noi-color-violet-700) 0%,
      var(--noi-color-magenta-800) 100%
    );
  }

  .reshuffle-token & {
    background: linear-gradient(
      90deg,
      var(--noi-color-violet-700) 0%,
      var(--noi-color-teal-800) 100%
    );
  }
}

.original-price {
  text-decoration: line-through;
  opacity: 0.5;
}

.price {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-2x);
  align-items: center;
}
