.title {
  color: var(--noi-color-text-light);
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-xl);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  padding: getRem(24) getRem(56);
  overflow-y: auto;

  table {
    border-collapse: separate;
  }

  th {
    text-align: start;
  }
}

.input-wrapper {
  position: relative;
  margin: getRem(24) 0;
}

.button-wrapper {
  inline-size: max-content;
}

.error {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  color: var(--noi-color-status-error-main);
}
