:root {
  --cta-width: getRem(720);
  --cta-height: getRem(168);
  /* Remove 3000ms of delay from each once properly implemented */
  --diamonds-delay: 5500ms;
  --title-delay: 6300ms;
  --subtitle-delay: 7000ms;
}

.cta-wrapper {
  position: fixed;
  z-index: var(--noi-z-index-level-1);
  background: linear-gradient(
    transparent 50%,
    var(--noi-color-black-main-transparent-80)
  );
  inset: 0;
}

.cta {
  position: absolute;
  inset-block-end: getRem(64);
  inset-inline-start: 50%;
  inline-size: var(--cta-width);
  block-size: var(--cta-height);
  overflow: hidden;
  background: var(--noi-color-black-main-transparent-80);
  border-radius: var(--noi-border-radius-md);
  box-shadow: 0 0 0 1px var(--noi-color-light-main-transparent-10);
  transform: translateX(-50%);
}

@keyframes diamond-top {
  0% {
    transform: translate(-50%, -140%) rotate(45deg);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -140%) rotate(45deg);
    opacity: 1;
  }
}

@keyframes diamond-bottom {
  0% {
    transform: translate(-50%, 40%) rotate(45deg);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, 40%) rotate(45deg);
    opacity: 1;
  }
}

.diamond {
  position: absolute;
  inset-block-start: 43%;
  inset-inline-start: 50%;
  inline-size: getRem(620);
  block-size: getRem(620);
  background-color: var(--noi-color-status-error-main);
  border-radius: var(--noi-border-radius-md);
  opacity: 0;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-delay: var(--diamonds-delay);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.diamond.top {
  animation-name: diamond-top;
}

.diamond.bottom {
  animation-name: diamond-bottom;
}

@keyframes title {
  0% {
    transform: translate(-50%, -100%) scale(4);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -100%) scale(1);
    opacity: 1;
  }
}

.title {
  position: absolute;
  color: var(--noi-color-text-light);
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-xl);
  text-transform: uppercase;
  opacity: 0;
  animation-name: title;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-delay: var(--title-delay);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  inset-block-start: 45%;
  inset-inline-start: 50%;
}

@keyframes subtitle {
  0% {
    transform: translate(-50%, 120%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 10%);
    opacity: 1;
  }
}

.subtitle {
  position: absolute;
  color: var(--noi-color-status-error-main);
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-2xl);
  opacity: 0;
  animation-name: subtitle;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-delay: var(--subtitle-delay);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  inset-block-start: 45%;
  inset-inline-start: 50%;
}

@keyframes arrow-left {
  0% {
    transform: translate(-10%, -50%) rotate(45deg);
    opacity: 0;
  }

  50% {
    transform: translate(0, -50%) rotate(45deg);
    opacity: 1;
  }

  100% {
    transform: translate(10%, -50%) rotate(45deg);
    opacity: 0;
  }
}

@keyframes arrow-right {
  0% {
    transform: translate(10%, -50%) rotate(45deg);
    opacity: 0;
  }

  50% {
    transform: translate(0, -50%) rotate(45deg);
    opacity: 1;
  }

  100% {
    transform: translate(-10%, -50%) rotate(45deg);
    opacity: 0;
  }
}

.arrow {
  position: absolute;
  inset-block-start: 50%;
  inline-size: getRem(300);
  block-size: getRem(300);
  background: var(--noi-color-black-main-transparent-10);
  border: 2px solid var(--noi-color-status-error-main);
  border-radius: var(--noi-border-radius-md);
  opacity: 0;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.arrow.left {
  inset-inline-start: -40%;
  animation-name: arrow-left;
}

.arrow.left.inner {
  inset-inline-start: -45%;
  animation-delay: 800ms;
}

.arrow.right.inner {
  inset-inline-end: -45%;
  animation-delay: 800ms;
}

.arrow.right {
  inset-inline-end: -40%;
  animation-name: arrow-right;
}
