.form {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-4x);
  align-items: flex-start;
}

.form-input {
  inline-size: 100%;
}

.buttons {
  display: flex;

  flex-wrap: wrap;
  gap: var(--noi-spacing-2x);
  align-items: flex-start;
}

.popout {
  inline-size: getRem(305);
}
