.selectable-item {
  --selected-item-border-gradient: linear-gradient(
    to right,
    var(--noi-color-violet-magenta-600) 0%,
    var(--noi-color-violet-magenta-300) 100%
  );
  position: relative;
  display: block;
  background: transparent;
  cursor: pointer;

  input[type='radio'] {
    display: none;
  }

  > .selected {
    background: linear-gradient(var(--noi-color-gray-100), var(--noi-color-gray-100))
        padding-box,
      var(--selected-item-border-gradient) border-box;
    border-color: transparent;
  }

  @media (hover: hover) {
    > :hover:not(.selected) {
      background-color: var(--noi-color-gray-150);
      border-color: var(--noi-color-gray-150);
    }
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-2x);
}

.selected-icon {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  transform: translateY(-12%) translateX(12%);
}
