.wrapper {
  display: flex;
  flex-direction: column;
  gap: getRem(36);
}

.top-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-2x);
  align-items: center;
  padding: 0 getRem(16);
}

.user-tag-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-1x);
  justify-content: center;
}

.user-tag {
  @mixin label m, semi-bold;
}

.user-suspended-tag {
  padding: var(--noi-spacing-1x) var(--noi-spacing-2x);
  font-weight: var(--noi-font-weight-regular);
  font-size: var(--font-size-s);
  text-align: center;
  background-color: var(--danger-500);
  border-radius: getRem(16);
  inline-size: fit-content;
}

.new-username {
  @mixin label xs, medium;
  color: var(--warning-300);
}

.bottom-wrapper {
  display: grid;
  gap: var(--noi-spacing-2x);
  justify-items: start;
  padding: 0 getRem(16);
}
