<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATE</key>
	<false/>
	<key>API_KEY</key>
	<string>AIzaSyAzRGQWCAcgbDHcxTLId-ta6wV5Q34qpgI</string>
	<key>GCM_SENDER_ID</key>
	<string>870513410166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noice.MobilePlatform.stg</string>
	<key>PROJECT_ID</key>
	<string>noice-stg-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>noice-stg-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:870513410166:ios:d697362e2e309ba4b1df57</string>
</dict>
</plist>
