.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  inline-size: getRem(340);
  border-block-end: 1px solid var(--noi-color-gray-800);
  border-block-start: 2px solid var(--noi-color-gray-950);
}

.button {
  position: relative;
  flex: 1;
  block-size: getRem(48);
  color: var(--noi-color-text-light-secondary);
  background-color: transparent;
  cursor: pointer;

  &:focus-visible {
    outline: getRem(2) solid var(--noi-color-text-light);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--noi-color-text-light);
    }
  }

  &.active {
    color: var(--noi-color-light-main);
    box-shadow: 0 2px 0 var(--noi-color-light-main);
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.25;
  }
}

.icon {
  inline-size: getRem(24);
  block-size: getRem(24);
}

.notification-dot {
  position: absolute;
  inset-block-start: getRem(12);
  inset-inline-start: calc(50% + getRem(8));
  inline-size: getRem(8);
  block-size: getRem(8);
  background-color: var(--noi-color-teal-main);
  border-radius: var(--noi-border-radius-circle);
  animation: notification-dot-bounce 2500ms cubic-bezier(0.5, 1.75, 0.75, 1.25) 3;
  animation-fill-mode: both;
}

@media (prefers-reduced-motion: reduce) {
  .notification-dot {
    animation: none;
  }
}

@keyframes notification-dot-bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(getRem(-5));
  }
}
