.label {
  color: var(--noi-color-magenta-300);
  font-size: var(--noi-font-size-sm);
  line-height: var(--noi-line-height-tight);
}

.background-asset {
  &:after {
    transform: rotate(15deg);
  }
}
