ol.steps {
  display: grid;
  gap: var(--noi-spacing-8x);
  counter-reset: item;

  > li {
    position: relative;
    counter-increment: item;
    padding-inline-start: getRem(42);
  }

  > li:before {
    position: absolute;
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: var(--noi-color-white-main);
    font-weight: var(--noi-font-weight-extra-bold);
    font-size: var(--noi-font-size-lg);
    background-color: var(--noi-color-black-main-transparent-10);
    border-radius: var(--noi-border-radius-circle);
    box-shadow: 0 0 0 2px var(--noi-color-text-light);
    content: counter(item);
    inset-inline-start: 0;
    inset-block-start: getRem(8);
    inline-size: getRem(32);
    block-size: getRem(32);
  }
}

.step {
  display: grid;
  gap: var(--noi-spacing-4x);
}

.step-description {
  .title {
    font-weight: var(--noi-font-weight-medium);
    font-size: var(--noi-font-size-lg);
    line-height: var(--noi-line-height-loose);
  }

  .description {
    color: var(--noi-color-text-light-secondary);
    font-size: var(--noi-font-size-sm);
    line-height: var(--noi-line-height-medium);
  }
}

.hint {
  .title {
    font-weight: var(--noi-font-weight-medium);
    line-height: var(--noi-line-height-loose);
    margin-block-end: var(--noi-spacing-4x);
    text-transform: uppercase;
  }

  .description {
    color: var(--noi-color-text-light-secondary);
    font-size: var(--noi-font-size-sm);
  }

  ul {
    list-style-type: initial;
    margin-inline-start: getRem(30);
  }
}

.muted {
  color: var(--noi-color-text-light-secondary);
}
