.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-4x);
}

.price-values {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-2x);
  align-items: center;

  > * {
    flex: 1 0 0;
    min-inline-size: min(getRem(250), 100%);
  }
}
