.wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  block-size: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-8x);
}
