.wrapper {
  --card-background-color: linear-gradient(
    to right,
    var(--noi-color-violet-800) 0%,
    var(--noi-color-violet-700) 100%
  );
  --card-background-gradient: linear-gradient(
    to right,
    var(--noi-color-violet-800) 0%,
    transparent 100%
  );
  --card-border-radius: var(--noi-border-radius-lg);
  position: relative;
  padding: var(--noi-spacing-4x);
  overflow: clip;
  border-radius: var(--noi-border-radius-lg);
  container-type: inline-size;
  cursor: pointer;
  transition: transform var(--noi-duration-quick);

  @media (hover: hover) {
    &:hover {
      transform: scale(1.03);
    }
  }

  &.collected {
    --card-background-color: linear-gradient(
      to right,
      var(--noi-color-violet-800) 0%,
      var(--noi-color-violet-magenta-800) 100%
    );
  }
}

.content {
  position: relative;
  display: grid;
  grid-template-areas: 'card' 'card-info' 'price';
  justify-items: center;
  text-align: center;

  @container (min-width: getRem(400)) {
    grid-template-areas: 'card-info card' 'price price';
    grid-template-columns: 1fr min-content;
    justify-items: start;
    text-align: start;
  }
}

.card {
  flex-shrink: 0;
  grid-area: card;
  align-self: center;
  inline-size: var(--game-card-width-breakpoint-small);

  @container (min-width: getRem(400)) {
    margin-block-end: getRem(-48);
    inline-size: var(--game-card-width-breakpoint-medium);
    margin-block-start: var(--noi-spacing-4x);
    margin-inline-end: var(--noi-spacing-4x);
  }
}

.card-info {
  display: grid;
  grid-area: card-info;
  gap: var(--noi-spacing-4x);
  padding: var(--noi-spacing-4x);

  @container (min-width: getRem(400)) {
    align-content: space-between;
  }
}

.description {
  display: grid;
  gap: var(--noi-spacing-1x);
}

.title {
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-xl);
  line-height: var(--noi-line-height-tight);
  text-transform: uppercase;
}

.card-description {
  display: -webkit-box;
  overflow: hidden;
  line-height: var(--noi-line-height-medium);
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: block-axis;
}

.benefit-highlight {
  font-weight: var(--noi-font-weight-medium);
  font-size: var(--noi-font-size-sm);
  line-height: var(--noi-line-height-tight);
  background: var(--noi-gradient-green-teal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collected-card-info {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-1x);
  color: var(--noi-color-text-light-secondary);
  font-size: var(--noi-font-size-sm);
}

.collected-card-info-title {
  color: var(--noi-color-text-light);
  font-weight: var(--noi-font-weight-medium);
  line-height: var(--noi-line-height-tight);
  max-inline-size: getRem(320);
}

.price-wrapper {
  display: flex;
  flex-wrap: nowrap;
  grid-area: price;
  gap: var(--noi-spacing-2x);
  align-items: center;
  justify-content: center;
  justify-self: stretch;
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-xl);
  line-height: var(--noi-line-height-tight);
  background: var(--noi-color-dark-main-transparent-50);
  border-radius: var(--noi-border-radius-md);
  min-block-size: getRem(64);
  padding-inline: var(--noi-spacing-6x);

  @container (min-width: getRem(400)) {
    justify-content: flex-start;
  }
}

.bold {
  font-weight: var(--noi-font-weight-medium);
}

.highlight-banner {
  position: absolute;
  z-index: var(--noi-z-index-level-1);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  white-space: nowrap;
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: getRem(40);
  inline-size: 100%;

  .in-collection {
    font-weight: var(--noi-font-weight-bold);
    text-transform: uppercase;
    background: var(--noi-gradient-violet-magenta);
  }

  .sale {
    color: var(--noi-color-text-dark);
    background: var(--noi-gradient-green-teal);
  }

  .sale .bold {
    font-weight: var(--noi-font-weight-medium);
  }

  .availability {
    color: var(--noi-color-text-dark);
    background: var(--noi-color-light-main);
  }

  .left-highlights > *,
  .right-highlights > * {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 getRem(24);
    white-space: pre-wrap;
    block-size: 100%;
  }

  .left-highlights > *:last-child {
    border-end-end-radius: var(--noi-border-radius-md);
  }

  .right-highlights > *:first-child {
    border-end-start-radius: var(--noi-border-radius-md);
  }
}

.loading-card {
  @mixin loading-shine var(--noi-color-gray-700);
}

.dialog-content {
  display: flex;
  flex-wrap: nowrap;
  gap: getRem(24);
}

.panel {
  padding: var(--noi-spacing-6x);
  background: var(--noi-color-light-main);
  box-shadow: none;
}

.button {
  display: inline-block;
  inline-size: min-content;
}
