.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-4x);
  align-items: center;
}

.title {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--noi-spacing-4x);
  color: var(--noi-color-text-light);
  font-weight: var(--noi-font-weight-extra-bold);
  font-size: var(--noi-font-size-2xl);
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  margin-block-start: calc(var(--noi-spacing-2x) * -1);

  @media (min-width: getRem(600)) {
    font-size: var(--noi-font-size-3xl);
  }
}

.subtitle {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-2x);
  justify-content: center;
  font-weight: var(--noi-font-weight-regular);
  font-size: var(--noi-font-size-sm);
  font-style: normal;
  line-height: var(--noi-line-height-tight);

  @media (min-width: getRem(600)) {
    font-size: var(--noi-font-size-lg);
  }
}

.previewing {
  font-weight: var(--noi-font-weight-bold);
}

.highlight {
  color: transparent;
  background: var(--noi-gradient-green-teal);
  background-clip: text;
}

.season-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--noi-spacing-2x) var(--noi-spacing-6x);
  align-items: center;
  color: var(--noi-color-text-light);
  font-weight: var(--noi-font-weight-bold);
  font-size: var(--noi-font-size-sm);
  line-height: var(--noi-line-height-tight);
  text-transform: uppercase;

  @media (min-width: getRem(600)) {
    font-size: var(--noi-font-size-lg);
  }
}

.gray {
  color: var(--noi-color-text-light-secondary);
  font-weight: var(--noi-font-weight-regular);
  text-transform: none;
}

.remaining-time {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-1x);
  align-items: center;
}
