.wrapper {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-3x);
}

.icon {
  flex-shrink: 0;
  inline-size: getRem(40);
  block-size: getRem(40);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--noi-spacing-3x);
}

.text-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--noi-spacing-1x);
  justify-content: center;
}

.subtext {
  color: var(--noi-color-text-dark-secondary);
  font-size: var(--noi-font-size-sm);

  .dark & {
    color: var(--noi-color-text-light-secondary);
  }
}

.buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-2x);
}
