.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--noi-spacing-4x);
  align-items: center;
  block-size: 100%;
  padding: getRem(16) 0;
}

.logo-wrapper {
  padding-block-end: getRem(24);
  border-block-end: getRem(1) var(--noi-color-gray-700) solid;
}
