.wrapper {
  position: relative;
  padding: var(--noi-spacing-2x);
  overflow: hidden;
  background-color: var(--noi-color-light-main-transparent-10);
  border-radius: var(--noi-border-radius-md);
  max-inline-size: 100%;
}

@keyframes row-move {
  100% {
    transform: translateX(getRem(-96));
  }
}

.rewards-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--noi-spacing-2x);
}

@keyframes button-fade {
  100% {
    opacity: 0;
  }
}

.button-fade-out {
  opacity: 1;
  animation: button-fade 800ms forwards;
}
